####################################
# Node.js (ALL projects)
####################################
**/node_modules/

####################################
# Builds
####################################
**/dist/
**/build/
**/.vite/

####################################
# Env files
####################################
**/.env
**/.env.*

####################################
# Logs & OS
####################################
**/*.log
.DS_Store
Thumbs.db

####################################
# Editor
####################################
.vscode/
.idea/
